@using FeatureFlags.Extensions
@using FeatureFlags.Resources
@using FeatureFlags.Services
@using System.Globalization
@model RegisterModel
@inject ILanguageService _LanguageService

<content>
    <partial name="_Alerts" />

    <div class="row">
        <div class="col col-6-lg">
            <h3>@Account.Register</h3>
            <form-content controller="@nameof(AccountController)" action="@nameof(AccountController.Register)" data-pjax-no-follow>
                <input-group for="Email" autofocus />
                <input-group for="Name" />
                <select-group for="LanguageId" options="@(await _LanguageService.GetAllLanguagesAsync()).ToSelectList(x => x.Name, x => x.Id.ToString(CultureInfo.InvariantCulture))" />

                <input class="button primary" type="submit" value="@Account.Register">
            </form-content>
        </div>
    </div>
</content>

