@using FeatureFlags.Constants;
@using FeatureFlags.Models
@using FeatureFlags.Resources;
@using FeatureFlags.Services
@model FeatureFlagModel

<content>
    <breadcrumb>
        <breadcrumb-item label="@Flags.ViewAll" controller="@nameof(FeatureFlagController)" action="@nameof(FeatureFlagController.Index)" />
        <breadcrumb-item label="@(Model.Id == 0 ? Flags.CreateFlag : Flags.EditFlag)" controller="@nameof(FeatureFlagController)"
            action="@(Model.Id == 0 ? nameof(FeatureFlagController.Create) : nameof(FeatureFlagController.Edit))"
            route-values="@(Model.Id == 0 ? null : new { Id = Model.Id })" active="true"
        />
    </breadcrumb>

    <partial name="_Alerts" />

    <form-content for="Model" action="@(Model.Id == 0 ? "Create" : "Edit")">
        <h4>@Flags.Details</h4>
        <hr />

        <div class="row">
            <div class="col col-6-lg">
                <input-group for="Name" autofocus />
                <checkbox-group for="Status" />
                <select-group for="RequirementType" options="@(Enum.GetValues(typeof(RequirementType)).Cast<RequirementType>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }))" />
            </div>
        </div>
        <hr class="mb-2" />

        <div class="row">
            <div class="col">
                <nilla-list>
                    <template data-list-template>
                        <partial name="_Filter" model="@(new FeatureFlagFilterModel())" />
                    </template>

                    <div class="row">
                        <div class="col">
                            <h4>@Flags.Filters</h4>
                        </div>
                        <div class="col text-right">
                            <button class="button primary" type="button" data-list-add-button>
                                <icon name="Add" label="@Core.Add" />
                            </button>
                        </div>
                    </div>

                    <div data-list-empty-message>
                        <i>@Flags.FilterIntro</i>
                    </div>

                    <div data-list-container>
                        @if (Model.Filters?.Any() == true)
                        {
                            foreach (var filter in Model.Filters)
                            {
                                <partial name="_Filter" model="@filter" />
                            }
                        }
                    </div>
                </nilla-list>
            </div>
        </div>
        <hr class="mb-2" />

        <div class="row">
            <div class="col">
                <input class="button primary" type="submit" value="@Core.Save">
            </div>
        </div>
    </form-content>
</content>
