@using FeatureFlags.Constants;
@using FeatureFlags.Models
@using FeatureFlags.Resources;
@using FeatureFlags.Services
@model FeatureFlagModel

<content>
    <breadcrumb>
        <breadcrumb-item label="@Flags.ViewAll" controller="@nameof(FeatureFlagController)" action="@nameof(FeatureFlagController.Index)" />
        <breadcrumb-item label="@(Model.Id == 0 ? Flags.CreateFlag : Flags.EditFlag)" controller="@nameof(FeatureFlagController)"
            action="@(Model.Id == 0 ? nameof(FeatureFlagController.Create) : nameof(FeatureFlagController.Edit))"
            route-values="@(Model.Id == 0 ? null : new { Id = Model.Id })" active="true"
        />
    </breadcrumb>

    <partial name="_Alerts" />

    <div class="row">
        <div class="col col-6-lg">
            <form-content for="Model" action="@(Model.Id == 0 ? "Create" : "Edit")">
                <input-group for="Name" autofocus />
                <checkbox-group for="IsEnabled" />
                <select-group for="RequirementType" options="@(Enum.GetValues(typeof(RequirementType)).Cast<RequirementType>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }))" />

                <input class="button primary" type="submit" value="@Core.Save">
            </form-content>
        </div>
    </div>
</content>
