@using FeatureFlags.Constants
@using FeatureFlags.Extensions
@using FeatureFlags.Resources
@using FeatureFlags.Utils

<content>
    <breadcrumb>
        <breadcrumb-item label="@Flags.ViewAll" controller="@nameof(FeatureFlagController)" action="@nameof(FeatureFlagController.Index)" active="true" />
    </breadcrumb>

    <partial name="_Alerts" />

    <data-table key="featureFlags" src-url="@Url.Action(nameof(FeatureFlagController.List), nameof(FeatureFlagController).StripController())">
        <data-head>
            <th style="width:@Html.Width(ColumnWidth.SingleIcon)px">
                <a authorize-roles="featureflag.create" href="@Url.Action(nameof(FeatureFlagController.Create), nameof(FeatureFlagController).StripController())"
                   class="button primary" title="@Flags.CreateFlag">
                    <icon name="Add" label="@Flags.CreateFlag" />
                </a>
            </th>
            <th data-property="name">@Flags.Name</th>
            <th data-property="statusText">@Flags.Status</th>
            <th data-property="evaluationText">@Flags.Enabled</th>
        </data-head>
        <data-body colspan="4">
            <td>
                <a authorize-roles="featureflag.edit" href="@Url.ActionForMustache("Edit")" class="button primary" title="@Flags.EditFlag">
                    <icon name="EditAlt" label="@Flags.EditFlag" />
                </a>
                <nilla-confirm authorize-roles="featureflag.delete">
                    <a href="@Url.ActionForMustache("Delete")" class="button dark" title="@Core.Delete" data-pjax-method="delete"
                       data-dialog-ok="@Core.Okay" data-dialog-cancel="@Core.Cancel"
                       data-dialog-content="@string.Format(Core.ConfirmDeleteBody, Flags.FlagLower)">
                        <icon name="DeleteAlt" label="@Core.Delete" />
                    </a>
                </nilla-confirm>
            </td>
            <td>{{name}}</td>
            <td>{{statusText}}</td>
            <td>{{evaluationText}}</td>
        </data-body>
    </data-table>
</content>
